# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Ll]og/
[Ll]ogs/
x64/
x86/
build/
bld/
out/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build / test output
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info
TestResults/
BenchmarkDotNet.Artifacts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Rider / JetBrains
.idea/
*.sln.iml
*.DotSettings.user

# Visual Studio
.vs/
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc

# VS Code
.vscode/

# Rider ASP.NET Core secrets & local settings
appsettings.*.local.json
secrets.json

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
